<div>
    <div>{{error}}</div>
    <h2 style="text-align: center"><img src="{{user.avatar_url}}" alt=""> {{user.name}}
    </h2>
    <table>
        <th ng-click="reorder('name')">
            <div ng-show="ascending">Name &#9650;</div>
            <div ng-hide="ascending">Name &#9660;</div>
        </th>
        <th ng-click="reorder('description')">
            <div ng-show="ascending">Description &#9650;</div>
            <div ng-hide="ascending">Description &#9660;</div>
        </th>
        <th ng-click="reorder('stargazers_count')">
            <div ng-show="ascending">Stars &#9650;</div>
            <div ng-hide="ascending">Stars &#9660;</div>
        </th>
        <tr ng-repeat="repo in repos | orderBy: orderByField:ascending" ng-click="contributor(repo)">
            <td><a ng-href="{{repo.html_url}}">{{repo.name}}</a></td>
            <td>{{repo.description}}
                <div ng-if="!repo.description" style="font-style: italic">No description available.</div>
            </td>
            <td>{{repo.stargazers_count | number}}</td>
        </tr>
    </table>
</div>